* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.our-services,
.our-products {
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
}

.services-list,
.product_list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-card {
  background-color: #4AC8AE;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.top_part_card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top_part_card img {
  width: 50px;
  height: 50px;
  background: #EDFFF9;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register_page {
  display: flex;
  justify-content: center;
}

.sign_up {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.grid_services {
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid_services .card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}